# 3460번. 이진수

[문제] <br>
양의 정수 n이 주어졌을 때, 이를 이진수로 나타냈을 때 1의 위치를 모두 찾는 프로그램을 작성하시오. 최하위 비트(least significant bit, lsb)의 위치는 0이다.
<br>
[입력] <br>
첫째 줄에 테스트 케이스의 개수 T가 주어진다. 각 테스트 케이스는 한 줄로 이루어져 있고, n이 주어진다. (1 ≤ T ≤ 10, 1 ≤ n ≤ 106)
<br>
[출력] <br>
각 테스트 케이스에 대해서, 1의 위치를 공백으로 구분해서 줄 하나에 출력한다. 위치가 낮은 것부터 출력한다.

In [32]:
def solution(n):
    lst = []
    i = 0
    while n > 0:
        if n % 2 == 1:
            lst.append(i)
        n //= 2
        i += 1
    print(*lst, sep = ' ')

In [2]:
T = int(input())

 1

In [30]:
for t in range(T):
    n = int(input())
    solution(n)

 13

0,2,3

In [3]:
a = 2
a //= 2
print(a)

1

In [33]:
solution(13)

0 2 3

In [34]:
def solution(n):
    lst = []
    i = 0
    while n > 0:
        if n % 2 == 1:
            lst.append(i)
        n //= 2
        i += 1
    print(*lst, sep = ' ')
T = int(input())
for t in range(T):
    n = int(input())
    solution(n)

 1
 13

0 2 3